*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Position
.pai{}

.filha1, .filha2{
    width: 300px;
    height: 300px;
    background: rgba(255, 0, 0, 0);
    margin: 10px;
    position: static; /*Com esse comando ele não sai do lugar
}

.filha2{
    position:fixed; /*Tem o mesmo comportamento da absolute, exceto que se rolar a pagina o elemento acompanha no mesmo lugar
    background: rgba(255, 255, 0, 0);
    z-index: 1; /*Camada 1
}

.filha1{
   /* position: relative; Muda para esse elemento a regra do static
    position: absolute; /*absolute pe como se mudasse o elemento de camada
    /* deixar centralizado na pag
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -150px;
    z-index: 2; /*Camada 2
}

ul{
    height: 100px;
    overflow-y: auto;
}

ul li.sticky{
    position: sticky; 
    background: gray;
    top: 0;
}*/

/*Media queries e breakpoints

.grid .col{
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.grid .col-content{
    width: 100%;
    height: 100%;
    background: red;
}

/*Cria uma condição como if/else que se verdadeira sobreescreve o comando
@media (max-width: 320px){
    .grid .col{
        width: 100%;
    }
}
@media all and (min-width: 321px) and (max-width:768px){
    .grid .col{
        width: 100%;
    }
}
*/

/*Flex-container*/

/*.flex-container{
    display: flex;
    /*flex-direction: row;
    justify-content: space-between;
    /*flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: flex-start;
    background: yellow;
    /*height: 500px;
    width: 200px;
}

.flex-item{
    /*flex-grow: 1;
    flex-basis: 320px;
    flex-shrink: 0; /*Define que eu não permito mais que meu elemento diminua
    /*flex: 1 0 320px; Um atalho que faz o mesmo que os 3 flex acima
    color: #fff;
    width: 100%;
   /* margin-bottom: 2%;
    height: 100%;
    background: red;
    /*margin: 10px;
}
/*
.flex-item:nth-child(2){
    flex: 10 1 320px;
    background: purple;
}
.flex-item:nth-child(3){
    align-self: flex-end;
    background: blue;
}
.flex-item:nth-child(4){
    align-self: center;
    background: orange;
}

/*Order
.flex-item:nth-child(1){
   order: -1;
}
.flex-item:nth-child(2){
    order: -2; /*Faz o dois vir antes do 1
}


body{
    font-size: 24px;
}

p{
    margin: 0 0 10px;
}

.two-columns{
    display: flex;
}

.two-columns .col{
    display: flex;
    flex-direction: column;
    background: green;
    margin: 15px;
    padding: 30px;
}
.gallery{
    display: flex;
    flex-flow: row wrap;
}
.gallery .img{
    flex: 1 0 20%;
    height: 50px;
    background: blue;
    margin: 10px;
}
*/


/*Grid*/

body{
    font: sans-serif;
    font-size: 40px;
}

.grid{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    /*grid-template-columns: 200px 1fr 2fr;*/
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-template-rows: repeat(3, 1frl);
    gap: 30px;
}
.grid div{
    background: tomato;
    min-height: 100px;
}

.grid div:nth-child(5),
.grid div:nth-child(6){
    background: darkred;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
}

.grid div:nth-child(5){
    background: yellow;
    z-index: 3;
}
.grid div:nth-child(6){
    z-index: 2;
}