
/*Selecionar por atributo
[meu-atributo="valor"] /*para ser mais especifico{
    color: red;
}*/
[meu-atributo~="valor1"]{
    color: red;
}
/*Começa com*/
[meu-atributo^="valor"]{
    color: red;
}
/*Termina com*/
[meu-atributo$="valor"]{
    color: red;
}
/*Contem algo*/
[meu-atributo*="valor"]{
    color: red; 
}
[checked]{
    width: 50px;
    height: 50px;
}
